@font-face {
  font-family: "PTSansRegular";
  src: url("../../assets/fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../../assets/fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"),
  url("../../assets/fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
  url("../../assets/fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansItalic";
  src: url("../../assets/fonts/PTSansItalic/PTSansItalic.eot");
  src: url("../../assets/fonts/PTSansItalic/PTSansItalic.eot?#iefix") format("embedded-opentype"),
  url("../../assets/fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
  url("../../assets/fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansBold";
  src: url("../../assets/fonts/PTSansBold/PTSansBold.eot");
  src: url("../../assets/fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"),
  url("../../assets/fonts/PTSansBold/PTSansBold.woff") format("woff"),
  url("../../assets/fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'WebSymbolsLigaRegular';
  src: url('../../assets/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot');
  src: url('../../assets/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.woff') format('woff'),
  url('../../assets/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.ttf') format('truetype'),
  url('../../assets/fonts/WebSymbolsLiga-Regular/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}