@import "normalize/_normalize";
@import "fonts/_fonts";
@import "variables/_variables";
@import "controls/_controls";
@import "header/_main";
@import "widgets/_main";
@import "widgets-menu/_main";
@import "widgets-filter/_main";
@import "widgets-information/_main";
@import "footer/_main";

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body, html {
  min-height: 100%;
}

.ma-container {
  max-width: 945px;
  margin: 0 auto;
}


